* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

h1 {
    color: #fff;
    text-align: center;
    padding: 10px;
}

[class ^= "box-"] {                 /*imu visas klases, kurios turi savo pavadinime box-*/
    display: grid;
    place-items: center;
    border: solid 5px saddlebrown;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
}

body {
    background: linear-gradient(lightblue, darkblue);
    height: 100vh;
}

.beginner {
    height: 90vh;
    width: 90%;
    margin: 20px auto;             /*20px top bottom, auto left right*/
    display:grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
}